@import '../../styles/variables';

.boosted {
  background-image: url('../../assets/images/Boosted_Background.png');
  background-repeat: no-repeat;
  padding: $margin-m;
  display: flex;
  flex-direction: column;
  gap: $margin-m;
  border-radius: 8px;
  width: 288px;
  max-width: 288px;
  max-height: 472px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}
