@import '../../styles/variables';

.boosted {
  background-image: url('../../assets/images/Boosted_Background.png');
  background-repeat: no-repeat;
  padding: $margin-m;
  display: flex;
  flex-direction: column;
  gap: $margin-m;
  border-radius: 16px;
  width: 288px;
  max-width: 288px;
}
