@import '../../styles/variables';

.boosted {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.boostedBoss {
  background-color: #00f;
  padding: $margin-s;
  width: 340px;
}

.boostedCreature {
  background-color: #0f0;
  padding: $margin-s;
  width: 340px;
}

.creature {
  margin-top: $margin-s;
}

.subtitle {
  font-size: $subtitle;
  margin-bottom: $margin-xs;
}
