@import '../../styles/variables';

.news {
  background-color: #ff0;
  padding: $margin-s;
  width: 33%;
  // height: fit-content;
}

.title {
  font-size: $title;
}

.subtitle {
  font-size: $subtitle;
  margin-top: $margin-s;
  margin-bottom: $margin-xs;
}
