@import '../../styles/variables';

.news {
  background-color: #0f0;
  padding: $margin-s;
  width: 780px;
  min-width: 55%;
  height: fit-content;
}

.title {
  font-size: $title;
}

.subtitle {
  font-size: $subtitle;
  margin-top: $margin-s;
  margin-bottom: $margin-xs;
}
