@import '../../styles/variables';

.container {
  display: flex;
  padding: $margin-m $margin-l;
  gap: $margin-s;
  justify-content: space-between;
  flex-wrap: wrap;

  main {
    flex: 1;

    .title {
      font-size: $title;
    }

    hr {
      display: block;
      margin: 32px auto;
      border-color: #233664;
      height: 1px;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      justify-content: space-between;
      margin-top: 32px;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .menuItems {
        display: flex;
        gap: $margin-s;

        li {
          cursor: pointer;
        }
      }
    }
  }
}
