@import '../../styles/variables';

.container {
  display: flex;
  padding: $margin-l;
  gap: 16px;
  justify-content: space-between;
  flex-wrap: wrap;

  .news {
    background-color: #0f0;
    width: 780px;
    min-width: 55%;
    height: 400px;
  }

  .boosted {
    background-color: #00f;
    width: 340px;
    min-width: 35%;
    height: 500px;
  }
}
