@import '../../styles/variables';

.container {
  display: flex;
  padding: $margin-m $margin-l;
  gap: $margin-s;
  justify-content: space-between;
  flex-wrap: wrap;

  main {
    flex: 1;
  }

  .title {
    font-size: $title;
  }

  hr {
    display: block;
    margin: 32px auto;
    border-color: #233664;
    height: 1px;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menuItems {
    display: flex;
    gap: $margin-s;
  }

  .dropdown {
    max-height: 48px;
  }

  .dropBtn {
    width: 352px;
    max-width: 352px;
    height: 48px;
    max-height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: $font-color;
    background-image: linear-gradient(to right, #233664, #051122);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  }
}
