@import '../../styles/variables';

.boosted {
  padding: $margin-s;
  width: 384px;
  background-image: url('../../assets/images/Boosted_Background.png');
  background-repeat: no-repeat;
  border: 1px solid #1a1a1a;
  border-radius: 16px;
  max-height: 165.6px;
}

.container {
  display: flex;
  background-image: url('../../assets/images/Boosted_Creature_Pedestal_Crop.gif');
  background-repeat: no-repeat;

  h4 {
    line-height: 64px;
    margin-left: 32px;
  }
}

.creature {
  margin-top: $margin-s;
}

.subtitle {
  font-size: $subtitle;
  margin-bottom: $margin-xs;
}
