@import '../../styles/variables';

.boostedBoss {
  // background-color: #00f;
  padding: $margin-s;
  width: 384px;
}

.container {
  display: flex;
  background-image: url('../../assets/images/Boosted_Creature_Pedestal_Crop.gif');
  background-repeat: no-repeat;

  h4 {
    line-height: 64px;
    margin-left: 32px;
  }
}

.creature {
  margin-top: $margin-s;
}

.subtitle {
  font-size: $subtitle;
  margin-bottom: $margin-xs;
}
