@import '../../styles/variables';

.boosted {
  text-align: center;
}

.container {
  display: flex;
  background-image: url('../../assets/images/Boosted_Creature_Pedestal_Center.gif');
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 8px;
  justify-content: center;

  .img {
    margin-right: $margin-s;
    margin-bottom: $margin-xs;
  }
}

.subtitle {
  font-size: $subtitle;
  margin-bottom: $margin-xs;
}
