@import 'styles/_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  background-color: $backgorund-color;
  color: $font-color;
}

/* estilos globais vão aqui */
a {
  text-decoration: none;
  color: $font-color;
}
